


#hero {
   
  text-align: center;
  padding: 142px 50px;
  background: url('D:/first website/pics/background-image.png') no-repeat center center/cover;
  color: #1c1c1c;
  padding-bottom: 30px;
  
  justify-content: center;
  align-items: center;
  color: white;

}
#hero .hero-content {
    padding: 20px 10px;
    text-align: left;
    padding-top: 20px;
    background-color: #ffffff47;
   font-weight: bold;
    border-radius: 50px;
    border: 1px solid #ffffff;
    backdrop-filter: blur(10px);
    justify-content: center;
    align-items: center;
    

}

#hero .hero-content h1{
  font-size: 40px;
  font-family: fantasy;
  font-weight: 100;
  color: #bbbbbb;
  background: radial-gradient(circle, #c5c5c5, #ffffff); /* Adjust the colors as needed */
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  color: transparent;
  margin-bottom: 0%;
}

#hero .hero-content p {
  padding-top: 0px;
}


#hero .button {
    font-size: 1.4em;
    padding: 0.6em 0.8em;
    border-radius: 0.5em;
    border: none;
    background-color:#ffffff47;
    color: #ffffff;
    cursor: pointer;
    position: static;
    border: 1px solid #ffffff;
    backdrop-filter: blur(5px);

  }
  
#hero .contain {
    padding: 5px 5px;
    position: static;
    display: inline-block;
    background: linear-gradient(45deg, #00000088, #ffffff88);
    border-radius: 0.9em;
    transition: all 0.4s ease;
    margin-top: 30px;
    backdrop-filter: blur(3px);

  }
  
#hero .contain ::before {
    
    position: static;
    inset: 0;
    margin: auto;
    border-radius: 0.9em;
    z-index: 10;
    filter: blur(0);
    transition: filter 0.4s ease;
    display: inline-block;
    margin-top: 50px;

  }
  
#hero .contain:hover {
    background: linear-gradient(90deg, #ababab88, #00000088);

    position: static;
    display: inline-block;
  }
#hero .contain:active {
    filter: blur(10em);
    position: static;
    display: inline-block;
  }
  
